# Archivos de IntelliJ/Android Studio
*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Gradle
.gradle
/local.properties
local.properties

# Carpetas de build (raíz y módulo app)
/build
/app/build
/captures
/.externalNativeBuild
/.cxx

# Mac
.DS_Store

# Firebase
google-services.json

# APK / bundles
*.apk
*.aab

# Keystore
*.jks
*.keystore

# Logs
*.log
